extends ./../layout

block content
    .container
        .row
            //-var movies=[{_id:1123,title:'怪物史莱克'}]
            -each item in movies
                .col-md-2
                    .thumbnail
                        a(href="/movie/#{item._id}")
                            img(src="#{item.poster}",alt="#{item.title}")
                        .caption
                            h3 #{item.title}
                            p
                                a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看影片